.body {
    background-color: rgb(41, 39, 39);
}

.socials {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: antiquewhite;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    transition: all 2s ease;
    animation: unblur 1.5s ease forwards;
    filter: blur(5px);
}

.aboutme {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: bisque;
    transition: all 1s ease;
    animation: unblur 1.5s ease forwards;
    filter: blur(5px);
}

.bt1 {
    display: inline-block;
    border-radius: 10px;
    background-color: black;
    width: 290px;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    transition: all 0.6s ease;
}

.footuh {
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    position: static;
    background-color: rgb(22, 17, 17);
    bottom: 0;
    width: 100%;
    padding: 5px;
}


/* Animations */

.bt1:hover {
 width: 320px;
 filter: contrast(200%);
 }

@keyframes unblur {
    to {
        filter: blur(0px);
    }
}