.body {
    background-color: rgb(41, 39, 39);
}

.MainBody {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: antiquewhite;
}